<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="info.css" />
    <title>Info Section</title>
  </head>
  <body>
    <section class="info_section">
      <div class="container">
        <div class="info-content">
          <div class="info_image">
            <img
              src="../../assets/images/icons/infoIcon.png"
              alt="Info Icon"
              class="info_icon"
            />
            <p>
              Welcome to our cosy cabin in the woods! Our rental home, nestled
              in the heart of the forest, is the ideal retreat for nature lovers
              and anyone looking for a peaceful escape from the hustle and
              bustle of city life.
            </p>
          </div>
          <div class="info_details">
            <div class="info_item">
              <span class="info_title">Dense forest</span>
              <h1 class="info_value">20,291 <span class="info_small"> m²</span> </h1>
            </div>
            <div class="info_item">
              <span class="info_title">Living space</span>
              <h1 class="info_value">324 <span class="info_small">m²</span></h1>
            </div>
            <div class="info_item">
              <span class="info_title">Proximity to nearest town</span>
              <h1 class="info_value">30 <span class="info_small">minutes</span> </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
