<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer_content">
        <div class="footer_left">
          <div>
            <h1>About</h1>
            <p>Us in a true way</p>
          </div>
          <img
            class="downarrow_2"
            src="../../../assets/images/icons/downArrow2.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="footer_right">
          <div class="right_content">
            <div>
              <p>See our</p>
              <h1>Rooms</h1>
            </div>
            <img
              src="../../../assets/images/icons/downArrow1.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="right_content">
            <div>
              <p>You can</p>
              <h1>Contact</h1>
            </div>
            <img
              src="../../../assets/images/icons/downArrow1.png"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
      <div class="footer_content">
        <div class="container">
            <ul class="footer_manu">
                <li><a href="/">Made by: Azwedo</a></li>
                <li><a href="/">Powered by: Webflow</a></li>
                <li><a href="/">Change Log</a></li>
                <li><a href="/">Style Guide</a></li>
                <li><a href="/">Licensing</a></li>
                <li><a href="/">Instructions</a></li>
            </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
