<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="hero.css" />
  </head>
  <body>
    <section class="container">
      <div class="image-container">
        <img src="../../assets/images/heroSectionBanner.png" alt="" />
        <div class="text-container">
          <h1><span class="cosy">Cosy</span> <span class="cabin">Cabin</span> <span class="woods">Woods!</span></h1>
          <span class="in-the">in the</span>
          <p>
            Jack built The Wilderness Retreat because he had always dreamed of
            having a cabin in the wilderness where he could escape the stresses of
            everyday life and reconnect with nature.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
