.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-container h1 {
    position: relative;
    font-family: "Boska";
    font-size: 13rem;
    line-height: 1.2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container .cosy {
    margin-left: -4rem;
    font-weight: bold;
}

.text-container .cabin {
    margin-left: 10rem;
    font-style: italic;
    color: limegreen;
}

.text-container .in-the {
    position: absolute;
    top: 60%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.text-container p {
    font-size: 1.3rem;
    margin-top: 20px;
}
