<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="offer.css">
    <title>Offer Section</title>
</head>
<body>
    <section class="container offer_container">
        <div class="offer_section">
            <h1>Sign Up And <span>Get 10%</span> Off Your Stay</h1>
            <p>Not boring old news, just updates for our rentals.<br>Take up on our offers.</p>
            <div class="input_container">
                <input type="email" placeholder="Email Address">
                <button>Get 10% Off</button>
            </div>
        </div>
    </section>
</body>
</html>
