<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="uniqueRoom.css">
    <title>Unique Rooms</title>
</head>
<body>
    <div class="unique_room_bgvector">
        <img src="../../assets/images/vactore.png" alt="Background Vector">
    </div>
    <section class="unique_room_section">
        <div class="container">
            <h2 class="unique_header">Our Unique Rooms Within The Wilderness Retreat</h2>
            <div class="rooms">
                <div class="room">
                    <img src="../../assets/images/uniqeIcon/uniqeIconsImage1.png" alt="Majestic Mountain">
                    <div class="room-overly-content">
                        <p>Majestic Mountain</p>
                    </div>
                </div>
                <div class="room">
                    <img class="room_img_2" src="../../assets/images/uniqeIcon/uniqeIconsImage2.png" alt="Cozy Cabin">
                    <div class="overlay">
                       <div>
                        <h1>Cozy Cabin</h1>
                        <p>For the times when life is too much, quit everything and enjoy the woods</p>
                       </div>
                       <img src="../../assets/images/icons/rightarrow1.png" alt="" srcset="">
                    </div>
                </div>
                <div class="room">
                    <img src="../../assets/images/uniqeIcon/uniqeIconsImage3.png" alt="Majestic Mountain">
                    <div class="room-overly-content">
                        <p>Majestic Mountain</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
