<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header id="mainHeader" class="main_header">
        <div>
            <ul class="nav_manu">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
            </ul>
        </div>
        <div>
            <img src="../../../assets/images/Logo.png" alt="Grindel Walad" class="main_logo">
        </div>
        <div>
            <ul class="nav_manu">
                <li><a href="/">Cabins</a></li>
                <li><a href="/">Reserve</a></li>
            </ul>
        </div>
    </header>
</body>
</html>