<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newslatter.css">
</head>
<body>
  <section class="newslatter_section">
    <div class="container">
       <div class="newslatter_content">
            <div>
                <h1>It's Time To Get To Know Each Other!</h1>
                <p>Grab a cup of coffee and...</p>
                <button>Let’s talk!</button>
            </div>
            <img src="../../assets/images/icons/infoIcon.png" alt="">
       </div>
    </div>
  </section>
</body>
</html>