<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <title>Wilderness Retreat</title>
  </head>
  <body>
    <section class="about_section container">
      <div class="images">
        <img
          class="about_image about_image_1"
          src="../../assets/images/about/about-image1.png"
          alt="Image 1"
        />
        <img
          class="about_image about_image_2"
          src="../../assets/images/about/about-image2.png"
          alt="Image 2"
        />
        <img
          class="about_image about_image_3"
          src="../../assets/images/about/about-image3.png"
          alt="Image 3"
        />
        <img
          class="about_image about_image_4"
          src="../../assets/images/about/about-image4.png"
          alt="Image 4"
        />
      </div>
      <div class="text-overlay">
        <h2>ABOUT US</h2>
        <p>
          At The Wilderness Retreat, We Pride Ourselves On Offering A
          <span>A Peaceful, Serene</span> Atmosphere That Allows Our Guests To
          Truly <span>Disconnect From The Stresses</span> Of Everyday Life.
          Whether You Want To Spend Your Days <span>Exploring Trails</span>,
          <span>Fishing In The Nearby Stream</span>, Or Simply
          <span>Soaking In The Hot Tub</span> As You Take In The Beauty Of Your
          Surroundings.
        </p>
      </div>
    </section>
  </body>
</html>
