<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="testimonial.css" />
  </head>
  <body>
    <section class="testimonial_section">
      <div class="container">
        <div class="testimonial_header">
          <h1>Experience The Magic Of The Wilderness Retreat</h1>
          <p>
            Welcome to our cosy cabin in the woods! Our rental home, nestled in
            the heart of the forest.
          </p>
        </div>
        
        <div class="testimonial_container">
          <div class="testimonial_card">
            <img
              src="../../assets/images/testimonial/testimonialImage1.png"
              alt="Testimonial 1"
            />
            <div class="testimonial_text">
              <span>✌️</span>
              <h3>Peaceful</h3>
              <p>
                "We had such a wonderful time at The Wilderness Retreat. The
                cabin was cozy and comfortable, and we felt completely at
                peace."
              </p>
            </div>
          </div>
          <div class="testimonial_card">
            <img
              src="../../assets/images/testimonial/testimonialImage2.png"
              alt="Testimonial 2"
            />
            <div class="testimonial_text">
              <span>✌️</span>
              <h3>Peaceful</h3>
              <p>
                "We had such a wonderful time at The Wilderness Retreat. The
                cabin was cozy and comfortable, and we felt completely at
                peace."
              </p>
            </div>
          </div>
          <div class="testimonial_card">
            <img
              src="../../assets/images/testimonial/testimonialImage3.png"
              alt="Testimonial 3"
            />
            <div class="testimonial_text">
              <span>✌️</span>
              <h3>Peaceful</h3>
              <p>
                "We had such a wonderful time at The Wilderness Retreat. The
                cabin was cozy and comfortable, and we felt completely at
                peace."
              </p>
            </div>
          </div>
        </div>

        <div class="testimonial_navigation">
          <button class="nav_button prev_button">
            <img src="../../assets/images/icons/rightArrow.png" alt="Previous">
          </button>
          <button class="nav_button next_button">
            <img src="../../assets/images/icons/leftArrow.png" alt="Next">
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
